# ThingsBoard HTTP API Configuration
THINGSBOARD_USERNAME=
THINGSBOARD_BASE_URL=http://thingsboard:8080
THINGSBOARD_LOGIN_PATH=/api/auth/login
THINGSBOARD_RPC_PATH=/api/rpc/twoway/

# Dev Device Configuration
DEVICE_ID_DEV=ec870240-5c86-11f1-92d9-93754c56e8e7
DEVICE_AT_DEV=
DEVICE_LOCATION_DEV=Testdevice

# Device 1 Configuration
DEVICE_ID_1=54078d60-58fc-11f1-92d9-93754c56e8e7
DEVICE_AT_1=
DEVICE_LOCATION_1=SMD-Trockenschrank

# Device 2 Configuration
DEVICE_ID_2=a1d871c0-5cc7-11f1-92d9-93754c56e8e7
DEVICE_AT_2=
DEVICE_LOCATION_2=Entwicklungslager

# Device 3 Configuration
DEVICE_ID_3=434c1430-5cc8-11f1-92d9-93754c56e8e7
DEVICE_AT_3=
DEVICE_LOCATION_3=SMD-Kühlschrank

# Device 4 Configuration
DEVICE_ID_4=
DEVICE_AT_4=
DEVICE_LOCATION_4=